Django>=1.1
buildbot>=0.7.11,<0.8
paramiko
djangosanetesting
# cpserver is not denoting CP requirement
CherryPy
django-cpserver
pymongo
south

hg+https://Almad@bitbucket.org/Almad/django-http-digest#egg=djangohttpdigest

git://github.com/ella/buildbot-mongodb-status.git#egg=bbmongostatus
git://github.com/ella/cthylla.git#egg=cthyla
