Django>=1.1
paramiko
djangosanetesting
# cpserver is not denoting CP requirement
CherryPy
django-cpserver
pymongo
south
nose
mock
buildbot>=0.8.0
anyjson

hg+https://Almad@bitbucket.org/Almad/django-http-digest#egg=djangohttpdigest

git+http://github.com/ella/buildbot-mongodb-status.git#egg=bbmongostatus
git+http://github.com/ella/cthylla.git#egg=cthyla
