Django>=1.1,<1.2
paramiko
# cpserver is not denoting CP requirement
CherryPy
django-cpserver
pymongo
south
nose>=0.11
mock
anyjson

git+http://github.com/centrumholdings/buildbot.git#egg=buildbot

hg+https://Almad@bitbucket.org/Almad/django-http-digest#egg=djangohttpdigest
git+http://github.com/ella/citools.git#egg=citools
git+http://github.com/Almad/django-sane-testing.git#egg=djangosanetesting

git+http://github.com/ella/buildbot-mongodb-status.git#egg=bbmongostatus
git+http://github.com/ella/cthylla.git#egg=cthyla


