{% extends "cthulhubot/base.html" %}

{% block content %}

<h1>New job configuration</h1>
<h2>Discover</h2>
<form action="." method="POST">
<p><input type="submit" name="auto-discovery" id="auto-discovery" value="Discover all available jobs and commands" /></p>

<ul id="jobs-list" class="jobs-list">
    {% for job in discovered_jobs %}
        <li>{{ job }} <!-- <a href="{% url cthulhubot-job-add job=job%}">Configure</a> --></li>
    {% endfor %}
</ul>
</form>

<h2>Manual configuration</h2>
<p><em>TODO & will work with drag&amp;drop javascript only.</em></p>

{% endblock %}