{% extends "cthulhubot/base.html" %}

{% block content %}

<h1 id="project-name">{{ project.name }}</h1>
<form action="." method="post">
{% if project.buildmaster %}
    <p id="buildmaster-status">Buildmaster status: {{ project.buildmaster.get_text_status }}</p>
    {% ifequal project.buildmaster.get_text_status "Running" %}
        <input type="submit" name="stop_master" value="Stop" id="submit-stop-master">
    {% else %}
        <input type="submit" name="start_master" value="Start" id="submit-start-master">
    {% endifequal %}
{% else %}
    <p>Buildmaster not created yet.</p><input type="submit" name="create_master" value="Create">
{% endif %}
</form>

{% endblock %}