{% extends "cthulhubot/base.html" %}

{% block content %}

<h1>Assign job {{ job.slug }} to work for project {{ project.name }}</h1>

<p class="help">Assignment is now synchronous. This means that after hitting "Assign", you can wait a lot &ndash; please do not hit it again, otherwise problems will occur.</p>

<form action="." method="POST">
    <fieldset>
        <legend>Build Computers</legend>
        <ul>
            {{ computer_form.as_ul }}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Job configuration</legend>
        <ul>
            {{ job_form.as_ul }}
        </ul>
    </fieldset>

    <input type="submit" value="Assign" />
</form>

{% endblock %}