{% extends "cthulhubot/base.html" %}
{% load mongo %}

{% block content %}

<h1>Job {{ job.slug }} working for {{ project.name }} at {{ computer.name }}</h1>

<h2>Builds</h2>

<ul>
{% for build in builds %}
    <li>{{ build.number }} started at {{ build.time_start }} {{ build.get_text_result }}.
        <ul>
            {% for step in build.steps %}
                {% mongoid step as step_id %}
                <li>{{ step.name }} <a href="{% url cthulhubot-step-part-detail step=step_id detail_name="stdout" %}">stdout</a> <a href="{% url cthulhubot-step-part-detail step=step_id detail_name="stderr" %}">stderr</a> <a href="{% url cthulhubot-step-part-detail step=step_id detail_name="headers" %}">headers</a>
                {% if step.successful %}
                    Successful
                {% else %}
                    Failed
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}