{% extends "cthulhubot/base.html" %}

{% block content %}

<h1 id="project-name">{{ project.name }}</h1>

<form action="." method="post">
{% if project.buildmaster %}
    <p>Buildmaster status: <span id="buildmaster-status">{{ project.buildmaster.get_text_status }}</span> at {{ project.buildmaster.get_master_connection_string }} </p>
    {% ifequal project.buildmaster.get_text_status "Running" %}
        <input type="submit" name="stop_master" value="Stop" id="submit-stop-master">
    {% else %}
        <input type="submit" name="start_master" value="Start" id="submit-start-master">
    {% endifequal %}
{% else %}
    <p>Buildmaster not created yet.</p><input type="submit" name="create_master" value="Create">
{% endif %}
</form>

<h2>Computers</h2>
<p>Project is running on following computers:</p>

<ul>
{% for client in clients %}
    <li>
        <form action="." method="post">
            <input type="hidden" value="{{ client.get_identifier }}" name="client_id" />
            <a href="{{ client.computer.get_absolute_url }}">{{ client.computer }}</a> status: {{ client.get_status }} {{ client.get_status_action }}
        </form>
    </li>
{% endfor %}
</ul>

<h2>Jobs</h2>
<p class="help">Discovered <a href="{% url cthulhubot-jobs %}">jobs</a> can be configured to work for this project.</p>

<p><a href="{% url cthulhubot-job-assigment project=project.slug %}">Configure new job assigment</a></p>

<ul>
{% for assignment in job_assignments %}
    <li>
        <form action="." method="post">
            <input type="hidden" value="{{ assignment.get_identifier }}" name="assignment_id" />
            <a href="{{ assignment.get_absolute_url }}">{{ assignment.job }} at {{ assignment.computer }}</a> status: {{ assignment.get_text_status }} {{ assignment.get_status_action }} Last build: {{ assignment.get_last_build_status }}
        </form>
    </li>
{% endfor %}
</ul>
{% endblock %}